@model MoneyTransformer.Models.Transaction

@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

  <!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">

    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container  px-lg-5 p-5">
            <div class="row g-5 ">
                <div class="col-lg-3 text-center text-lg-start  py-5">
                        @*<img src = @Url.Content("~/Images/" + ViewBag.image) asp-append-version="true" class="img-fluid flex-shrink-0 rounded-circle"  />*@
                         <h1 class="text-white mb-4 animated zoomIn">Make Transaction</h1>

                </div>
                
                <div class="col-lg-5 py-4  text-lg-start card">

                  <form asp-action="Transaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label mt-3"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SwalletId" class="control-label mt-3">Your Wallets Bank</label>
                <select asp-for="SwalletId" class ="form-control" asp-items="ViewBag.SwalletId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RIban" class="control-label mt-3">Reciever IBAN</label>
                <input asp-for="RIban" class="form-control" />
                <span asp-validation-for="RIban" class="text-danger"></span>
            </div>
            <div class="form-group">
                            @if (ViewData["validiban"] != null)
                            {
                                @ViewData["validiban"]
                                ;
                            }
                <input type="submit" value="Done" class="btn btn-primary mt-7" />
            </div>
        </form>

        </div>

            </div>
        </div>
    </div>
</div>
        <!-- Navbar & Hero End -->
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Transaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SwalletId" class="control-label"></label>
                <select asp-for="SwalletId" class ="form-control" asp-items="ViewBag.SwalletId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RIban" class="control-label"></label>
                <input asp-for="RIban" class="form-control" />
                <span asp-validation-for="RIban" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewData["validiban"]!=null)
                {
                    @ViewData["validiban"];
                }
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

